@using Microsoft.AspNetCore.Identity
@using WebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @* <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li> *@
        <li class="nav-item dropdown header-profile">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
            <i class="mdi mdi-account"></i>
             @UserManager.GetUserName(User)!
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="justify-content-center">
                 <div class="dropdown-item">
                      <div class="row">
                        <i class="icon-user mt-1"></i>
                        <span class="ml-2">Profile </span>
                    </div>
                </div>
                <div class="dropdown-item">
                    <div class="row">
                        <div class=" d-flex">
                            <i class="icon-key mt-3"></i>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><span class="small">Logout</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@
}
</ul>
